<!DOCTYPE html>
<html class="no-js"> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vue.JS Socket.IO Chat</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="chat">
      <h4 class="events" v-for="event in events"> {{ event }} </h4>
      <h3 v-if="hasInputUsername" id="welcome">Welcome {{ username }}</h3>
      <h6 id="connected">Online: 
          <span >{{ users.length || 0}}</span>
      </h6>
      <h5 class="username-list" >
        <span v-for="user in users">{{ user + ", " }}</span>   
      </h5>
      <ul id="messages" v-for="message in messages">
        <li><span class="author">{{ message.author }}:</span> {{ message.content }}</li>
      </ul>

      <div class="set-username" v-bind:class="{ usernameOverlayGone: hasInputUsername }">
          <form id="username-form" v-on:submit.prevent="chooseUsername">
              <p>Choose an alias</p>
              <h3>Username: {{ username }}</h3>
              <input v-model="username" class="username-input" placeholder="type your username here">
              <input type="submit" name="Select" class="username-submit">
          </form>
      </div>

      <form id="mainform" v-on:submit.prevent="sendMessage">
          <input v-model="messageInput" class="mainform-input" autocomplete="off" placeholder="type your message here" />
          <button class="mainform-button">Send</button>
      </form>
    </div>

    <script src="vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>    
    <script src="script.js"></script>
  </body>
</html>